*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-image: url(Images/601873.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}
.container-header{
    padding: 5rem;
    display: flex;
}
.nav-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-link ul li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 1.5rem;
    color: white;
}
/*---------------------Introduction----------*/
.sub-header{
    margin:100px
}
.container-header{
    padding: 2px;
}
.container-sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.sub-header-image{
    display: grid;
    width: 70%;
}
#image2{
    grid-column: 2/ span 3;
    grid-row: 1 / span 2;
}
#image1{
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
}
.sub-header-image img{
    height: 300px;
    width: 475px;
}
.subheader-text{
    display:block;
    margin-left: auto;
    text-align: center;
    width: 50%;
}
.subheader-text h1{
    font-size: 30px;
}
.subheader-text p{
    font-size: 25px;
}
/*--------------------State Region-----------*/
.state-region{
    margin: 100px;
    display: flex;
}
.state-text{
    width: 90%;
    text-align: center;
}
.state-text h1{
    font-size: 30px;
}
.state-text p{
    font-size: 25px;
}
#map{
    width: 50%;
}
/*-------------------Explore Wa---------------*/
.wa-header-text{
    display: flex;
    margin-left: 165px;
    margin-bottom: 50px;
}
.explore-wa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
#image-explore{
    width: 700px;
    height: 700px;
}
#grid-image{
    width: 350px;
    height: 350px;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.grid-one{
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    grid-row: 1;

}
.grid-two{
    grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    grid-row: 1;

}
.grid-three{
    grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    grid-row: 2;

}
.grid-four{
    grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
    grid-row: 2;

}
/*-----------------Call to action-------------------*/
.calltoaction{
    background-image: url(Images/wallpapersden.com_mount-rainier-usa-mountains_3840x2160.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin-bottom: 75px;
}
.more-rec-text h1{
    text-align: center;
    font: 50px;
    margin-bottom: 50px;
}
#image-recc{
    height: 300px;
    width: 500px;
}
.container-recc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    padding: 25px;
}
.text-recc h1{
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.text-recc p{
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*-----------------------Best Time to Visit-----------------*/
#image-bttv{
    height: 400px;
    width: 700px;
}
.bttv{
    display: flex;
    margin: 100px;
}
.bttv-text{
    width: 80%;
    text-align: center;
}
.bttv-text h1{
    font-size: 30px;
}
.bttv-text p{
    font-size: 25px;
}
/*------------------------Footer-------------------------*/
.footer{
    background-image: url(Images/bzk50s6j40m71.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 30vh;
}
.footer{
    padding-top: 80px;
}
.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.links{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer-link ul li{
    font-size: 30px;
    display: inline-block;
    color: white;
    padding: 1rem;
}
.social-media{
    text-align: center;
}
.social-media img{
    width: 50px;
    height: 50px;
}
.social-media ul li{
    display: inline-block;
    padding: 1rem;
}