*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-color: black;
    padding-left: 3rem;
}
#header-logo{
    width: 150px;
    height: 150px;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
   text-align: left;
   padding-right: 3rem;
   display: block;
   margin-left: auto;
}
.nav-links ul li{
    color: white;
    font-size: 30px;
    display: inline-block;
    padding: 1rem;
}
/*-------------------------Introduction-------------------*/
.introduction{
    padding: 60px;
}
.intro-text h1{
    padding-bottom: 30px;
    text-align: center;
    border-bottom: solid 5px;
    font-size: 50px;
    width: 50%;
}
.intro-text p{
    width: 50%;
    font-size: 30px;
    text-align: center;
}
/*-------------------------Destination Header-------------*/
.destination-reccomendations{
    background-image: url(Images/wallpapersden.com_mount-rainier-usa-mountains_3840x2160.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 50vh;
    width: 100%;
}
.dr-text{
    text-align: center;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
}
.dr-text h1{
    text-align: center;
    font-size: 50px;
}
.dr-text h3{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}
.button{
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.button-text h1{
    color: black;
    font-size: 30px;
}
/*-------------------------Popular Destination-----------------*/
.popular-destination{
    padding: 70px;
}
.popular-destination h1{
  font-size: 3rem;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}
.card-container2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}
.card{
    border:0px;
    text-align: center;
}
.btn-primary{
   width: 45%;
}
/*-------------------------Arriving to Wa-----------------*/
.arrivingtowa{
    height: 50px;
    padding-bottom: 500px;
}
.black-background{
    padding-bottom: 50px;
    background-color: black;
    height: 250px;
}
#arrwa{
    height: 400px;
    width: 700px;
}
.background-container{
    display: flex;
}
.background-text{
    width: 30%;
    padding-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.background-text h1{
    font-size: 30px;
    color: white;
    text-align: center; 
}
.background-text p{
    font-size: 20px;
    color: white;
    text-align: center; 
}
#button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*-------------------------Get on the Road----------------*/
.get-on-the-road{
    background-image: url(Images/washington-wa-north-cascades-highway.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 100px;
}
.getontheroad-text{
    text-align: center;
    color: white;
    width: 50%;
    display: block;
    margin-left: auto;
}
.getontheroad-text h1{
    font-size: 30px;
}
.getontheroad-text p{
    font-size: 20px;;
}
#button2{
    display: block;
    margin-left: auto;
}
/*-------------------------More Reccomendations-----------*/
.recc-textbox{
    padding: 70px;
    text-align: center;
}
.recc-textbox h1{
    font-size: 3rem;
}
.more-reccomendations{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}
/*------------------------Footer-------------------------*/
.footer{
    background-image: url(Images/bzk50s6j40m71.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 30vh;
}
.footer{
    padding-top: 80px;
}
.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.links{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer-link ul li{
    font-size: 30px;
    display: inline-block;
    color: white;
    padding: 1rem;
}
.social-media{
    text-align: center;
}
.social-media img{
    width: 50px;
    height: 50px;
}
.social-media ul li{
    display: inline-block;
    padding: 1rem;
}