*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-image: url(Images/Pike_Place_Market0-f58b040db89934b_f58b0ced-b1ca-91aa-c34e643859c15cd1.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 80vh;
}
.container-header{
    padding: 5rem;
    display: flex;
}
.nav-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-link ul li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 1.5rem;
    color: white;
}
.page-header{
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    border: solid;
    border-color: white;
    width: 25%;
}
.page-header h1{
    font-size: 50px;
    color: white;
}
/*----------------------------------Introduction---------------------------------*/
.Introduction{
    margin: 100px;
}
.introduction-text h1{
    text-align: center;
    font-size: 50px;
    width: 50%;
    margin: auto;
    margin-bottom: .5em;
}
.introduction-text p{
    text-align: center;
    font-size: 20px;
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
}
#intro-image{
    width: 400px;
    height: 400px;
}
.introduction-image-toprow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction-image-bottomrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---------------------------------Top Cities to Visit------------------------------*/
.placestovisit-header{
    text-align: center;
    margin: 70px;
}
.placestovisit-header h1{
    font-size: 50px;
}
.left-card img{
    width: 750px;
    height: 500px;
}
.left-card{
    display: flex;
    margin-left: 50px;
    margin-bottom: 75px;
    text-align: center;
}
.right-card{
    display: flex;
    margin-right: 75px;
    margin-bottom: 75px;
    text-align: center;
}
.right-card img{
    width: 750px;
    height: 500px;
}

.image-card{
    display: flex;
    margin-left: auto;
}
.topcity-paragraph{
    text-align: center;
    width: 40%;
    margin: auto;
}
.topcity-paragraph h2{
    text-align: center;
    font-size: 50px
}
.topcity-paragraph p{
    text-align: center;
    font-size: 20px;
}
/*---------------------------------Call to Action------------------------------*/
.calltoaction{
    background-image: url(Images/USA_Sunrises_and_sunsets_Mountains_Forests_Lake_613541_1920x1200.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}
/*---------------------------------Food Reccomendations------------------------------*/
#grid-container{
    width: 400px;
    height: 400px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.grid-item{
    width: 200px;
    height: 200px;
    display: flex;
}
.grid-item:nth-of-type(1){
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}
.grid-item:nth-of-type(2){
   grid-column: 2/3;
   grid-row: 1/3;
   place-self: center;
} 
.grid-item:nth-of-type(3){
    grid-column:  2/ 3;
    grid-row: 2 / 3;
    transform: translate(-60px,150px);
}
.Food{
    margin: 150px
}
.food-reccomendations{
    text-align: center;
    display: flex;
    margin: auto;
}
.food-reccomendation-text{
    width: 50%;
}
.food-reccomendation-text h1{
    font-size: 50px;
}
.food-reccomendation-text param{
    font-size: 20px;
}
/*---------------------------------Family Reccomendations------------------------------*/
.family-reccomendations{
    text-align: center;
    margin: 150px;
}
.familyimage img{
    width: 500px;
}
.family-reccomendations h1{
    text-align: center;
    font-size: 50px;
}
.family-reccomendations p{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.family-image-toprow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.family-image-bottomrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---------------------------------Footer------------------------------*/
.footer{
    background-image: url(Images/Untitled-design-4.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    position: relative;
    min-height: 40vh;
}
